// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.about1new {
  background-image: image-url('about1new.jpg');
}

.about2new {
  background-image: image-url('about2new.jpg');
}

.about3new {
  background-image: image-url('about3new.jpg');
}